.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.taskBox.taskBox {
  width: 24px;
  height: 24px;
}

.testName {
  word-break: break-all;
}

.tooltipSkeleton {
  width: 100%;
  height: var(--via-space-200);
}
