.pageHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.variantMetadata {
  display: flex;
  align-items: center;
  gap: var(--via-space-100);
  margin-top: var(--via-space-100);
  padding-left: var(--via-space-100);
}

.displayNamePlaceholder {
  width: 200px;
}

.pageHeaderContent {
  display: flex;
  align-items: flex-start;
  padding-top: 28px;
}

.searchColumn {
  width: 40%;
  min-width: 200px;
  margin-right: 30px;
}

.paginationFilterWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--via-space-400);
}

.badgeWrapper {
  margin-top: var(--via-space-200);
}

.tableWrapper {
  height: 80vh;
}

.centerPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
