/* 307px represents the height to subtract to prevent an overflow on the modal */
.contentWrapper {
  max-height: calc(100vh - 307px);
  overflow-y: auto;
}

.wrapper {
  margin: var(--via-space-200) 0;
}
