.skeletonList {
  display: flex;
  flex-direction: column;
}

.skeletonDescription {
  width: 80%;
}

.skeletonMetadata {
  width: 50%;
}

.skeletonStatus {
  width: 80%;
}

.skeletonAction {
  width: 64px;
}

.skeletonDescription > span,
.skeletonMetadata > span,
.skeletonStatus > span,
.skeletonAction > span {
  display: block;
  width: 100%;
}
