.badgeContainer {
  height: var(--via-space-800);
  width: var(--via-space-1600);
  border-radius: var(--via-space-100);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  line-height: normal;
}

.row {
  white-space: nowrap;
}

.number {
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
}

.status {
  font-size: var(--via-space-200);
  white-space: nowrap;
}

.count {
  font-weight: bold;
}

.undispatched {
  color: var(--via-color-neutral-700);
  background-color: var(--via-color-neutral-100);
  border-color: var(--via-color-neutral-200);
}

.running {
  color: var(--via-color-yellow-800);
  background-color: var(--via-color-yellow-100);
  border-color: var(--via-color-yellow-200);
}

.systemFailure {
  color: var(--via-color-purple-800);
  background-color: var(--via-color-purple-100);
  border-color: var(--via-color-purple-200);
}

.scheduled {
  color: var(--via-color-neutral-100);
  background-color: var(--via-color-neutral-700);
  border-color: var(--via-color-neutral-800);
}

.failed {
  color: var(--via-color-red-800);
  background-color: var(--via-color-red-100);
  border-color: var(--via-color-red-200);
}

.succeeded {
  color: var(--via-color-green-800);
  background-color: var(--via-color-green-100);
  border-color: var(--via-color-green-200);
}

.setupFailed {
  color: var(--via-color-blue-700);
  background-color: var(--via-color-blue-100);
  border-color: var(--via-color-blue-200);
}
