.bannerContainer {
  margin-bottom: var(--via-space-400);
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: var(--via-space-200);
}

.orderedList {
  padding-inline-start: var(--via-space-600);
}

.listItem {
  margin-bottom: var(--via-space-200);
}

.modalTriggerText {
  font-weight: bold;
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;

  :hover {
    cursor: pointer;
  }
}
