.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: var(--via-color-neutral-500);
}

.item {
  font-size: 12px;
}

.item > dt {
  white-space: nowrap;
}

.item > dd {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--via-space-300);
}

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--via-space-100);
}
