.searchableDropdownWrapper {
  margin-top: var(--via-space-200);
  width: 600px;
}

.distroLabel {
  display: flex;
  gap: var(--via-space-200);
  align-items: center;
  white-space: nowrap;
}

.distroName {
  overflow: hidden;
  text-overflow: ellipsis;
}
