.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--via-space-800);
}

.styledBody.styledBody {
  white-space: nowrap;
  color: var(--via-color-neutral-600);
  text-transform: uppercase;
  font-weight: 500;
}
