.buildGroup {
  display: flex;
  gap: var(--via-space-400);
  flex-grow: 1;
  border: 1px solid var(--via-color-neutral-300);
  border-radius: var(--via-space-200);
  padding: var(--via-space-200);
}

.buildContainer {
  flex-basis: calc(100% / 5);
  display: grid;
  grid-template-columns: repeat(auto-fill, 18px);
  align-content: start;
  min-width: 0;
}

.pinButton {
  top: calc(-1 * var(--via-space-100));
}

.pinButton[data-active="true"] {
  transform: rotate(-30deg);
}
