.buttonWrapper {
  white-space: nowrap; /* prevent button collapse when screen is small */
}

.tooltipTrigger {
  white-space: nowrap;

  button {
    pointer-events: none;
  }
}

.buttonContainer {
  margin-top: var(--via-space-200);
  display: flex;
  justify-content: flex-end;
}

.buttonSpacer {
  margin-left: var(--via-space-200);
}
