name: "Pull Request Checks"
on: 
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
jobs:
  chromatic:
    if: false
    name: Chromatic Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check access
        if: ${{ github.event.pull_request.author_association != 'CONTRIBUTOR' && github.event.pull_request.author_association != 'MEMBER' && github.event.pull_request.author_association != 'COLLABORATOR' }}
        run: |
          echo "Event not triggered by a collaborator."
          exit 1

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22.17.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install

      - name: Determine changed files
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            parsley:
              - 'apps/parsley/**'
              - 'packages/lib/**'
              - 'packages/fungi/**'
            spruce:
              - 'apps/spruce/**'
              - 'packages/lib/**'
            lib:
              - 'packages/lib/**'
            fungi:
              - 'packages/fungi/**'

      # https://www.chromatic.com/docs/github-actions/#forked-repositories 
      # The tokens below are published with intention. Tokens cannot be used to access account settings. 
      # They can only be used for snapshot quota, which is an acceptable tradeoff for open source projects.
      # Tokens can be reset via the "Manage" page on Chromatic.

      - name: Publish Chromatic (Parsley)
        if: steps.changes.outputs.parsley == 'true'
        uses: ./.github/actions/publish-chromatic-pr
        with:
          working_dir: apps/parsley
          project_token: chpt_8083ea0d9f4af30
      
      - name: Publish Chromatic (Spruce)
        if: steps.changes.outputs.spruce == 'true'
        uses: ./.github/actions/publish-chromatic-pr
        with:
          working_dir: apps/spruce
          project_token: chpt_676fe75e2c97368

      - name: Publish Chromatic (Fungi)
        if: steps.changes.outputs.fungi == 'true'
        uses: ./.github/actions/publish-chromatic-pr
        with:
          working_dir: packages/fungi
          project_token: chpt_e1e0e3c7dd24944

      - name: Publish Chromatic (Lib)
        if: steps.changes.outputs.lib == 'true'
        uses: ./.github/actions/publish-chromatic-pr
        with:
          working_dir: packages/lib
          project_token: chpt_a5c7789cebbf85e
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
