name: "Commit Checks"
on: 
  push:
    branches:
      - chromatic_non_fork
jobs:
  parsley-chromatic:
    name: Run Chromatic Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22.17.0

      - name: Install dependencies
        run: yarn install

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          workingDir: apps/parsley
          buildScriptName: storybook:build
          onlyChanged: true # TurboSnap
          autoAcceptChanges: true # Always accept changes on main as the new baseline.
          exitZeroOnChanges: true
          exitOnceUploaded: true
          # https://www.chromatic.com/docs/github-actions/#forked-repositories 
          # This token is published with intention. Tokens cannot be used to access account settings. 
          # They can only be used for snapshot quota, which is an acceptable tradeoff for open source 
          # projects. Tokens can be reset via the "Manage" page on Chromatic.
          projectToken: ${{ secrets.CHROMATIC_PARSLEY_TOKEN }}

